@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact {
    height: fit-content;
  }
  .logo {
    font-size: 2rem;
  }
  .title {
    font-size: 2.5rem;
  }
  
}

@media screen and (max-width: 1200px) {
  #profile {
    height: 73vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact {
    height: fit-content;
  }
  
  #skills,
  .experience-details-container {
    margin-top: 2rem;
  }

  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  section {
    margin: 0 5%;
  }
  #contact {
    height: fit-content;
  }
  .logo {
    font-size: 2rem;
  }

}

@media screen and (max-width: 1000px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #skills,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }

  #about{
    margin-bottom: 5%;
  }

  .section__pic-container {
    width: auto;
    height: 45vw;
    justify-content: center;
    margin: 0 auto 2rem;
  }

  .section__pic-container-1 {
    width: auto;
    height: 40vw;
    justify-content: center;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  .title {
    font-size: 2rem;
  }

  .logo {
    font-size: 1.75rem;
  }

  #profile {
    display: block;
    padding: 0 1rem;
  }
  
  .section__text {
    margin: 2rem auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  /* #profile {
    height: 80vh;
    margin-bottom: 0;
  } */
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 57vw;
    justify-content: center;
  }

  .section__pic-container-1 {
    width: auto;
    height: 49vw;
    justify-content: center;
  }
  /* .section__text__p2 {
    font-size: 1.25rem;
  } */
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  .section__text {
    padding: 2rem 1.5rem;
    min-width: auto;
    width: 90%;
    margin: 0 auto;
  }
  
  .section__text__p1 {
    font-size: 1.2rem;
  }
  
  .title {
    font-size: 1.8rem;
  }
  
  .section__text__p2 {
    font-size: 1rem;
  }
  #profile {
    padding: 0 0.5rem;
  }
  
  .section__text {
    padding: 2rem 1.5rem;
    min-width: auto;
    width: 90%;
    margin: 2rem auto 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .menu-links {
    z-index: 999;
  }
}